/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#ajax-results {
  display: block;
}

#ajax-results article {
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

#ajax-results article:hover {
  background-color: #d3d3d3;
}

.carousel {
  height: fit-content;
}

.tabs-content {
  height: 100%;
  overflow-y: scroll !important;
}

.article-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel {
  height: 80vh;
}